name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  compile-test:
    runs-on: ubuntu-latest
    environment:
      name: test
    steps:
      - uses: actions/checkout@v2
      - name: Install dependecies
        run: npm ci
      - name: Compile
        run: npm run build
      - name: Test
        run: npm test
  run-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependecies
        run: npm ci
      - name: Run
        run: npm run test-run
        env:
          SERVICE_ID: ${{ secrets.SERVICE_ID }}
          TIMEOUT: 15
